<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.me.gcu.equakestartercode">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Scott Davidson S1917367"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalAssessment">
        <activity android:name="org.me.gcu.finalassessment.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1m96X-OMM1FPLf8FiqsMyxRO7ODHXa-Q" />

        <activity
            android:name="org.me.gcu.finalassessment.MapsActivity"
            android:label="Maps">

        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>